// 最后删除掉
.fifteen-wrap {
  width: 740px;
  margin: 0 auto;
}
%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}
%point-a {
  &::before {
    content: "";
    @extend %in-b;
    width: 3px;
    height: 3px;
    background-color: #919191;
    vertical-align: middle;
    margin-right: 10px;
  }
}
%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 文本显示多少行就省略
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}
.fifteen-btn {
  @extend %in-b;
  height: 42px;
  line-height: 42px;
  background-image: linear-gradient(137deg, #fa8271 0%, #eb4d4c 100%), linear-gradient(#dbdbdb, #dbdbdb);
  background-blend-mode: normal, normal;
  box-shadow: 0px 3px 6px 0px rgba(235, 77, 76, 0.36);
  border-radius: 21px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.fifteen-title {
  text-align: center;
  line-height: 30px;
  span {
    font-size: 26px;
    font-weight: bold;
    color: #444444;
    vertical-align: middle;
  }
  .icon {
    @extend %in-b;
  }
  .icon-l {
    width: 24px;
    height: 24px;
    background: url(../images/icon_1.png) no-repeat;
    margin-right: -16px;
    vertical-align: middle;
  }
  .icon-r {
    width: 16px;
    height: 16px;
    background: url(../images/icon_2.png) no-repeat;
    margin-left: -12px;
    vertical-align: bottom;
  }
  .subtitle {
    font-size: 16px;
    color: #888888;
  }
}
.fifteen-school {
  @extend %clearfix;
  padding: 30px 0;
  .school-l {
    float: left;
    width: 322px;
    height: 312px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .school-r {
    float: right;
    width: 418px;
    background-color: #f1eefd;
    margin-top: 20px;
    padding: 20px 18px 20px 30px;
    box-sizing: border-box;
    .r-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 33px;
      color: #444444;
      background: url(../images/icon_3.png) no-repeat;
      margin-bottom: 8px;
    }
    .r-intro {
      font-size: 14px;
      line-height: 24px;
      color: #666666;
    }
    ul {
      padding-top: 20px;
    }
    li {
      padding-left: 19px;
      font-size: 14px;
      line-height: 24px;
      color: #666666;
      background: url(../images/icon_4.png) no-repeat left;
      .r-subtitle {
        font-weight: bold;
      }
    }
  }
  .fifteen-btn {
    border-radius: 0px 21px 21px 0px;
    padding: 0 40px;
  }
}
.fifteen-handshake {
  padding: 30px 0;
  background: url(../images/bg_1.png) no-repeat top;
  .handshake-head {
    text-align: center;
    margin-bottom: 30px;
    li {
      display: inline-block;
      margin: 0 8px;
      padding: 0 30px;
      font-size: 16px;
      line-height: 34px;
      color: #ffffff;
      border: solid 1px rgba(255, 255, 255, 0.5);
      border-radius: 17px;
      cursor: pointer;
      &.cur {
        background-color: #ffffff;
        color: #745ae0;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #fff;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -6px;
          margin: auto;
        }
      }
    }
  }
  .handshake-cont {
    margin: 0 20px;
    padding: 30px 20px 30px 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 0px rgba(66, 91, 182, 0.36);
    border-radius: 12px;
    display: none;
    &.cur{
      display: block;
    }
    .cont-item {
      @extend %clearfix;
      .item-l {
        float: left;
        width: 370px;
        font-size: 14px;
        .l-title {
          font-size: 16px;
          font-weight: bold;
          line-height: 16px;
          color: #444444;
        }
        .l-subtitle {
          font-weight: bold;
          line-height: 30px;
          color: #745ae0;
          background: url(../images/icon_4-pc.png) no-repeat left;
          padding-left: 26px;
          margin-top: 10px;
        }
        p {
          line-height: 22px;
          color: #666666;
          @include ells(2);
        }
      }
      .item-r {
        float: right;
        width: 262px;
        img {
          width: 100%;
        }
      }
    }
    .cont-btn {
      text-align: center;
      padding-top: 40px;
    }
    .fifteen-btn {
      padding: 0 136px;
    }
  }
}
.fifteen-think {
  .think-cont {
    height: 404px;
    margin-bottom: 30px;
    background: url(../images/bg_2-pc.png) no-repeat top;
    position: relative;
  }
  .cont-item {
    position: absolute;
    width: 260px;
    padding: 10px 16px 16px 20px;
    box-sizing: border-box;
    .item-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
      color: #444444;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      color: #888888;
      @include ells(2);
    }
    &:nth-of-type(1) {
      top: 80px;
      left: 20px;
    }
    &:nth-of-type(2) {
      top: 80px;
      right: 20px;
    }
    &:nth-of-type(3) {
      top: 257px;
    }
    &:nth-of-type(4) {
      top: 257px;
      right: 0;
    }
  }
  .think-form {
    background: url(../images/bg_3.png) no-repeat top;
    padding: 20px 0 30px;
    .form-title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      color: #ffffff;
      text-align: center;
    }
    .sign-in {
      padding: 30px 0;
      background-color: #ffffff;
      box-shadow: 0px 0px 24px 0px rgba(144, 144, 144, 0.36);
      border-radius: 12px;
      input {
        width: 244px;
        height: 42px;
        line-height: 42px;
        background-color: #ffffff;
        border: solid 1px #dddddd;
        box-sizing: border-box;
        font-size: 14px;
        text-indent: 1em;
        color: #888888;
        margin-left: 18px;
        font-family: "微软雅黑";
      }
      input[type="submit"] {
        width: 172px;
        border: none;
        color: #fff;
        font-size: 16px;
        text-indent: 0;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
.fifteen-listen {
  padding: 0 0 30px;
  @extend %clearfix;
  .listen-form {
    float: left;
    width: 374px;
    padding: 20px 0 10px;
    box-sizing: border-box;
    background: url(../images/bg_4.png) no-repeat;
    text-align: center;
    .form-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      color: #ffffff;
    }
    .form-subtitle {
      font-size: 14px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 10px;
    }
    .sign-in {
      padding: 0 20px;
      input {
        width: 100%;
        height: 42px;
        line-height: 42px;
        background-color: #ffffff;
        border: solid 1px #dddddd;
        box-sizing: border-box;
        font-size: 14px;
        text-indent: 1em;
        color: #888888;
        font-family: "微软雅黑";
        margin-bottom: 20px;
      }
      input[type="submit"] {
        border: none;
        color: #fff;
        font-size: 16px;
        text-indent: 0;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
      }
    }
  }
  .listen-consult {
    float: left;
    width: 366px;
    background-color: #f1eefd;
    border-radius: 12px;
    margin-top: 30px;
    padding: 18px 0 18px 30px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 36px;
    color: #444444;
    li {
      @extend %point-a;
      .txt {
        @extend %in-b;
        width: 220px;
        @extend %one;
        vertical-align: middle;
      }
      .fifteen-btn {
        width: 74px;
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
        border: solid 1px #eb4d4c;
        background: #fff;
        color: #eb4d4c;
        font-size: 14px;
        text-align: center;
        .icon {
          @extend %in-b;
          width: 13px;
          height: 12px;
          background: url(../images/icon_5.png) no-repeat;
          background-size: 100% auto;
          margin-right: 4px;
        }
        &:hover {
          border: none;
          background-image: linear-gradient(137deg, #fa8271 0%, #eb4d4c 100%), linear-gradient(#f47c1c, #f47c1c);
          background-blend-mode: normal, normal;
          box-shadow: 0px 3px 6px 0px rgba(235, 77, 76, 0.36);
          border-radius: 12px;
          color: #fff;
          .icon {
            background: url(../images/icon_6.png) no-repeat;
            background-size: 100% auto;
          }
        }
      }
    }
  }
}
.fifteen-earnest {
  margin-bottom: 30px;
  ul {
    @extend %clearfix;
    li {
      float: left;
      width: 170px;
      text-align: center;
      margin-right: 20px;
      .img-wap {
        display: none;
      }
      .earnest-cont {
        background-color: #f1eefd;
        width: 100%;
        padding: 0 10px 15px;
        box-sizing: border-box;
        .cont-title {
          font-size: 16px;
          font-weight: bold;
          line-height: 36px;
          color: #444444;
          @extend %one;
        }
        .txt {
          font-size: 12px;
          line-height: 22px;
          color: #888888;
          margin-bottom: 10px;
          @include ells(1);
        }
      }
      .arrows {
        display: none;
        width: 18px;
        height: 18px;
        background: url(../images/icon_7.png) no-repeat;
        background-size: 100% 100%;
      }
      &:hover {
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 86px;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.6);
        }
        .earnest-cont {
          position: absolute;
          top: 86px;
          .txt {
            @include ells(2);
          }
        }
        .arrows {
          display: inline-block;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.fifteen-apply {
  .apply-cont {
    margin: 0 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: #f1eefd;
    border-radius: 12px 12px 0px 0px;
    @extend %clearfix;
    .cont-l {
      float: left;
      width: 222px;
      margin-right: 20px;
    }
    .cont-r {
      float: left;
      width: 436px;
      .r-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 36px;
        color: #444444;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: #666666;
        @include ells(3);
      }
    }
  }
  .sign-in {
    height: 82px;
    background: url(../images/bg_5.png) no-repeat;
    margin-top: -8px;
    padding: 26px 0 16px 150px;
    box-sizing: border-box;
    font-size: 14px;
    input {
      width: 160px;
      height: 42px;
      line-height: 42px;
      background-color: #ffffff;
      border-radius: 3px;
      font-family: "微软雅黑";
      border: none;
      text-indent: 1em;
      box-sizing: border-box;
      margin-right: 8px;
      vertical-align: middle;
    }
    input[type="submit"] {
      width: 110px;
      background-color: #f47c1c;
      text-indent: 0;
      color: #fff;
      cursor: pointer;
    }
    a {
      @extend %in-b;
      width: 110px;
      height: 42px;
      line-height: 40px;
      border-radius: 3px;
      border: solid 1px rgba(255, 255, 255, 0.55);
      box-sizing: border-box;
      vertical-align: middle;
      text-align: center;
      color: #fffefe;
    }
  }
}
.fifteen-stage {
  padding: 30px 0;
  @extend %clearfix;
  .stage-item {
    width: 185px;
    float: left;
    .item-title {
      padding: 15px 0 22px;
      box-sizing: border-box;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      color: #ffffff;
      background: url(../images/stage_1.png) no-repeat;
      text-align: center;
    }
    .item-detail {
      margin-top: -10px;
      padding: 20px 15px;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 0px 5px 27px 0px rgba(147, 147, 147, 0.36);
      border-radius: 12px;
      position: relative;
      li {
        font-size: 14px;
        line-height: 22px;
        color: #444444;
        @extend %point-a;
        margin-bottom: 10px;
        &::before {
          float: left;
          margin-top: 10px;
          background-color: #f18025;
        }
        span {
          @extend %in-b;
          width: 140px;
        }
      }
    }
    .fifteen-btn {
      width: 145px;
      text-align: center;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &:nth-of-type(1) {
      margin-top: 60px;
      .item-detail {
        height: 212px;
      }
    }
    &:nth-of-type(2) {
      margin-top: 40px;
      .item-title {
        background: url(../images/stage_2.png) no-repeat;
      }
      .item-detail {
        height: 232px;
        li {
          &::before {
            background-color: #bb56c6;
          }
        }
      }
    }
    &:nth-of-type(3) {
      margin-top: 20px;
      .item-title {
        background: url(../images/stage_3.png) no-repeat;
      }
      .item-detail {
        height: 252px;
        li {
          &::before {
            background-color: #654bd2;
          }
        }
      }
    }
    &:nth-of-type(4) {
      .item-title {
        background: url(../images/stage_4.png) no-repeat;
      }
      .item-detail {
        height: 272px;
        li {
          &::before {
            background-color: #eb4d4c;
          }
        }
      }
    }
  }
}
.fifteen-sort {
  ul {
    @extend %clearfix;
  }
  li {
    float: left;
    width: 170px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(121, 95, 227, 0.28);
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
    .sort-num {
      width: 32px;
      height: 32px;
      line-height: 32px;
      background-image: linear-gradient(135deg, #8269ea 0%, #745ae0 100%), linear-gradient(#eeeeee, #eeeeee);
      background-blend-mode: normal, normal;
      box-shadow: 0px 3px 6px 0px rgba(116, 90, 224, 0.36);
      font-size: 24px;
      border-radius: 50%;
      color: #ffffff;
      font-weight: bold;
      position: absolute;
      top: -16px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .sort-txt {
      font-size: 14px;
      line-height: 22px;
      color: #666666;
      padding: 38px 20px 10px;
      p {
        @include ells(2);
      }
    }
    &:nth-of-type(4n + 4) {
      margin-right: 0;
    }
  }
}
.fifteen-opt {
  @extend %clearfix;
  .opt-item {
    float: left;
    padding: 20px 10px 20px 20px;
    background-color: #f1eefd;
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-of-type(2n + 2) {
      margin-right: 0;
    }
  }
  .item-l {
    float: left;
    width: 118px;
    margin-right: 20px;
  }
  .item-r {
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
    li {
      @extend %point-a;
      width: 190px;
      @extend %one;
      &::before {
        background-color: #654bd2;
      }
    }
  }
}
.fifteen-intro {
  background: url(../images/bg_6.png) no-repeat top left;
  padding: 40px 0 30px;
  @extend %clearfix;
  .intro-l {
    float: left;
    width: 210px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    img {
      width: 102px;
      border-radius: 50%;
    }
  }
  .intro-r {
    float: left;
    width: 528px;
    padding: 20px 30px 30px;
    box-sizing: border-box;
    background: url(../images/bg_7.jpg);
    box-shadow: 0px 17px 18px 0px rgba(145, 145, 145, 0.17);
    border: solid 1px #ebebeb;
    ul {
      margin-bottom: 20px;
    }
    li {
      @extend %point-a;
      font-size: 14px;
      line-height: 30px;
      color: #666666;
      @extend %one;
      &::before {
        background-color: #775ee1;
      }
    }
    .fifteen-btn {
      width: 196px;
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }
}
.fifteen-job {
  margin-bottom: 30px;
  position: relative;
  .job-cont {
    width: 486px;
    background-color: #ffffff;
    box-shadow: 30px 23px 18px 0px rgba(145, 145, 145, 0.17);
    border-radius: 12px;
    border: solid 1px #ebebeb;
    padding: 20px 0;
    .cont-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
      color: #444444;
      &::before {
        @extend %in-b;
        content: "";
        width: 3px;
        height: 25px;
        background-color: #745ae0;
        vertical-align: middle;
        margin-right: 28px;
      }
    }
    ul {
      padding: 10px 90px 10px 30px;
    }
    li {
      font-size: 14px;
      line-height: 30px;
      color: #666666;
      background: url(../images/icon_4.png) no-repeat left;
      padding-left: 20px;
      @extend %one;
      .key {
        font-weight: bold;
      }
    }
    .fifteen-btn {
      width: 166px;
      text-align: center;
      border-radius: 0px 21px 21px 0px;
    }
  }
  .job-bg {
    width: 334px;
    height: 260px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    img {
      width: 100%;
    }
  }
}
.fifteen-devote {
  @extend %clearfix;
  padding: 30px 0;
  .devote-l {
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
    background-color: #ffffff;
    box-shadow: 3px 16px 18px 0px rgba(145, 145, 145, 0.17);
    border-radius: 12px 12px 30px 12px;
    border: solid 1px #ebebeb;
    padding: 30px 0 20px 30px;
    box-sizing: border-box;
    ul {
      float: left;
      width: 190px;
      margin-right: 10px;
    }
    .l-title {
      font-size: 16px;
      font-weight: bold;
      background: url(../images/icon_8.png) no-repeat left;
      padding-left: 17px;
      background-size: 8px auto;
    }
    li {
      @extend %point-a;
      @extend %one;
      &::before {
        background-color: #654bd2;
      }
    }
  }
  .devote-r {
    float: left;
    width: 308px;
    background: url(../images/bg_7.png) no-repeat;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    .r-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: #ffffff;
      text-align: center;
      margin-bottom: 20px;
    }
    .sign-in {
      padding: 20px 20px 0;
      background-color: #ffffff;
      border-radius: 12px;
      input {
        width: 100%;
        height: 42px;
        line-height: 42px;
        background-color: #ffffff;
        border: solid 1px #dddddd;
        box-sizing: border-box;
        font-size: 14px;
        text-indent: 1em;
        color: #888888;
        font-family: "微软雅黑";
        margin-bottom: 20px;
      }
      input[type="submit"] {
        border: none;
        color: #fff;
        font-size: 16px;
        text-indent: 0;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
.fifteen-process {
  margin: 30px 0;
  padding-top: 140px;
  background: url(../images/bg_8.png) no-repeat top;
  ul {
    @extend %clearfix;
    margin-left: 10px;
  }
  li {
    float: left;
    margin-right: 58px;
    a {
      @extend %in-b;
      width: 100px;
      height: 40px;
      line-height: 40px;
      background-image: linear-gradient(137deg, #c55bd1 0%, #745ae0 100%), linear-gradient(#ffffff, #ffffff);
      background-blend-mode: normal, normal;
      box-shadow: 0px 3px 6px 0px rgba(116, 90, 224, 0.36);
      border-radius: 20px;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
    }
    &:nth-of-type(2) {
      margin-right: 65px;
    }
    &:nth-of-type(3) {
      margin-right: 49px;
    }
    &:nth-of-type(4) {
      margin-right: 48px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.fifteen-cooperate {
  padding: 30px 0 0 20px;
  background: #ebe8f7;
  ul {
    @extend %clearfix;
  }
  li {
    float: left;
    width: 340px;
    font-size: 14px;
    line-height: 32px;
    color: #888888;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 190px;
      margin-bottom: 15px;
    }
    .cooperate-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: #444444;
    }
  }
}

@media screen and (max-width: 750px) {
  $browser-default-font-size: 75px !default;
  @function pr($px) {
    @return $px / $browser-default-font-size * 1rem;
  }
  .fifteen-wrap {
    width: pr(750px);
  }
  %one-wap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .fifteen-title {
    line-height: pr(36px);
    span {
      font-size: pr(36px);
      margin-bottom: pr(10px);
    }
    .icon-l {
      width: pr(24px);
      height: pr(24px);
      margin-right: pr(-16px);
      background-size: 100% 100%;
    }
    .icon-r {
      width: pr(16px);
      height: pr(16px);
      margin-left: pr(-12px);
      background-size: 100% 100%;
    }
    .subtitle {
      font-size: pr(24px);
    }
  }
  .fifteen-btn {
    height: pr(42px);
    line-height: pr(42px);
    box-shadow: 0px pr(3px) pr(6px) 0px rgba(235, 77, 76, 0.36);
    border-radius: pr(21px);
    font-size: pr(24px);
  }
  .fifteen-school {
    padding: pr(40px) pr(24px);
    position: relative;
    .school-l {
      width: pr(322px);
      height: pr(312px);
      position: absolute;
      left: pr(24px);
      z-index: 10;
    }
    .school-r {
      width: pr(513px);
      margin-top: pr(20px);
      margin-left: pr(-133px);
      padding: pr(30px) pr(18px) pr(20px) pr(30px);
      .r-title {
        font-size: pr(28px);
        line-height: pr(33px);
        margin-bottom: pr(20px);
        margin-left: pr(123px);
        background-size: auto 100%;
      }
      .r-intro {
        font-size: pr(24px);
        line-height: pr(34px);
        margin-left: pr(123px);
      }
      ul {
        padding-top: pr(30px);
      }
      li {
        padding-left: pr(19px);
        font-size: pr(24px);
        line-height: pr(34px);
        @extend %one-wap;
        background-size: pr(9px) pr(9px);
      }
    }
    .fifteen-btn {
      border-radius: 0px pr(21px) pr(21px) 0px;
      padding: 0 pr(30px);
      font-size: pr(24px);
      position: absolute;
      top: pr(310px);
      z-index: 20;
    }
  }
  .fifteen-handshake {
    padding: pr(30px) 0;
    margin: 0 pr(24px);
    background-size: 100% auto;
    .handshake-head {
      margin-bottom: pr(30px);
      li {
        width: pr(206px);
        margin: 0 pr(8px);
        padding: pr(10px) pr(20px);
        font-size: pr(28px);
        line-height: pr(34px);
        border-radius: pr(17px);
        &.cur {
          &::after {
            border-left: pr(10px) solid transparent;
            border-right: pr(10px) solid transparent;
            border-top: pr(10px) solid #fff;
            bottom: pr(-10px);
          }
        }
      }
    }
    .handshake-cont {
      margin: 0 pr(20px);
      padding: pr(30px) pr(20px) pr(30px) pr(20px);
      box-shadow: 0px 0px pr(24px) 0px rgba(66, 91, 182, 0.36);
      border-radius: pr(12px);
      .cont-item {
        .item-l {
          width: pr(330px);
          font-size: pr(24px);
          .l-title {
            font-size: pr(28px);
            line-height: pr(28px);
          }
          .l-subtitle {
            line-height: pr(34px);
            padding-left: pr(26px);
            margin-top: pr(10px);
            background-size: pr(14px) pr(16px);
          }
          p {
            line-height: pr(34px);
          }
        }
        .item-r {
          width: pr(282px);
          img {
            width: 100%;
          }
        }
      }
      .cont-btn {
        padding-top: pr(40px);
      }
      .fifteen-btn {
        padding: 0 pr(110px);
        height: pr(56px);
        line-height: pr(56px);
        border-radius: pr(28px);
        font-size: pr(28px);
      }
    }
  }
  .fifteen-think {
    padding: 0 pr(24px);
    .think-cont {
      height: pr(418px);
      background: url(../images/bg_2-wap.png) no-repeat top;
      margin-bottom: pr(25px);
      background-size: 100% auto;
    }
    .cont-item {
      width: pr(260px);
      padding: pr(16px) pr(16px) pr(16px) pr(20px);
      .item-title {
        font-size: pr(24px);
        line-height: pr(30px);
      }
      p {
        font-size: pr(24px);
        line-height: pr(34px);
        @include ells(2);
      }
      &:nth-of-type(1) {
        top: pr(60px);
        left: pr(20px);
      }
      &:nth-of-type(2) {
        top: pr(60px);
        right: 0;
      }
      &:nth-of-type(3) {
        top: pr(267px);
      }
      &:nth-of-type(4) {
        width: pr(238px);
        top: pr(267px);
        right: 0;
      }
    }
    .think-form {
      padding: pr(20px) 0 pr(50px);
      background-size: 100% auto;
      .form-title {
        margin-bottom: pr(20px);
        font-size: pr(36px);
        line-height: pr(36px);
      }
      .sign-in {
        padding: pr(30px);
        box-shadow: 0px 0px pr(24px) 0px rgba(144, 144, 144, 0.36);
        border-radius: pr(12px);
        text-align: center;
        input {
          width: 100%;
          height: pr(56px);
          line-height: pr(56px);
          font-size: pr(14px);
          margin-left: 0;
          margin-bottom: pr(20px);
          text-align: center;
        }
        input[type="submit"] {
          width: pr(332px);
          font-size: pr(28px);
          border-radius: pr(28px);
        }
      }
    }
  }
  .fifteen-listen {
    padding: 0 pr(24px) pr(30px);
    .listen-form {
      float: none;
      width: 100%;
      padding: pr(30px) 0 pr(20px);
      background: url(../images/bg_4-wap.png) no-repeat;
      background-size: 100% 100%;
      .form-title {
        font-size: pr(36px);
        line-height: pr(36px);
        margin-bottom: pr(10px);
      }
      .form-subtitle {
        font-size: pr(24px);
        line-height: pr(36px);
        margin-bottom: pr(20px);
      }
      .sign-in {
        padding: 0 pr(20px);
        input {
          width: 100%;
          height: pr(56px);
          line-height: pr(56px);
          font-size: pr(26px);
          margin-bottom: pr(20px);
        }
        input[type="submit"] {
          font-size: pr(28px);
          margin-top: pr(10px);
        }
      }
    }
    .listen-consult {
      float: none;
      width: 100%;
      border-radius: pr(12px);
      margin-top: 0;
      padding: pr(18px) 0 pr(18px) pr(30px);
      font-size: pr(26px);
      line-height: pr(46px);
      li {
        &::before {
          width: pr(6px);
          height: pr(6px);
          margin-right: pr(16px);
          background-color: #eb4d4c;
        }
        .txt {
          width: pr(490px);
        }
        .fifteen-btn {
          width: pr(124px);
          height: pr(34px);
          line-height: pr(32px);
          border-radius: pr(17px);
          font-size: pr(24px);
          .icon {
            width: pr(22px);
            height: pr(20px);
            margin-right: pr(6px);
          }
          &:hover {
            border: none;
            box-shadow: 0px pr(3px) pr(6px) 0px rgba(235, 77, 76, 0.36);
            border-radius: pr(12px);
          }
        }
      }
    }
  }
  .fifteen-earnest {
    margin-bottom: 0;
    padding: 0 pr(24px);
    ul {
      li {
        width: pr(334px);
        margin-right: pr(20px);
        margin-bottom: pr(30px);
        .img {
          display: none;
        }
        .img-wap {
          display: block;
        }
        .earnest-cont {
          padding: pr(20px) pr(10px) pr(15px);
          .cont-title {
            font-size: pr(26px);
            line-height: pr(36px);
            margin-bottom: pr(10px);
          }
          .txt {
            font-size: pr(24px);
            line-height: pr(34px);
            margin-bottom: pr(20px);
          }
        }
        .arrows {
          width: pr(34px);
          height: pr(34px);
        }
        &:hover {
          &::before {
            height: pr(108px);
          }
          .earnest-cont {
            top: pr(108px);
          }
        }
        &:nth-of-type(2n + 2) {
          margin-right: 0;
        }
      }
    }
  }
  .fifteen-apply {
    padding: 0 pr(24px) pr(30px);
    .apply-cont {
      margin: 0 pr(10px);
      padding: pr(30px) pr(20px);
      border-radius: pr(12px) pr(12px) 0px 0px;
      .cont-l {
        width: pr(242px);
        margin-right: pr(20px);
      }
      .cont-r {
        width: pr(380px);
        .r-title {
          font-size: pr(28px);
          line-height: pr(36px);
        }
        p {
          font-size: pr(24px);
          line-height: pr(34px);
        }
      }
    }
    .sign-in {
      height: pr(258px);
      background: url(../images/bg_5-wap.png) no-repeat;
      background-size: 100% 100%;
      margin-top: pr(-8px);
      padding: pr(25px) 0 pr(25px) pr(236px);
      font-size: pr(14px);
      input {
        width: pr(446px);
        height: pr(56px);
        line-height: pr(56px);
        border-radius: pr(3px);
        margin-right: pr(8px);
        margin-bottom: pr(20px);
      }
      input[type="submit"] {
        width: pr(210px);
        margin-bottom: 0;
      }
      a {
        width: pr(210px);
        height: pr(56px);
        line-height: pr(56px);
        border-radius: pr(3px);
      }
    }
  }
  .fifteen-stage {
    padding: 0 pr(24px);
    .stage-item {
      width: 100%;
      float: none;
      margin-bottom: pr(30px);
      .item-title {
        padding: pr(20px) 0 pr(27px);
        font-size: pr(36px);
        line-height: pr(36px);
        background: url(../images/stage_1-wap.png) no-repeat;
        background-size: 100% auto;
      }
      .item-detail {
        margin-top: pr(-10px);
        padding: pr(20px) pr(30px) pr(30px);
        box-shadow: 0px pr(5px) pr(27px) 0px rgba(147, 147, 147, 0.36);
        border-radius: pr(12px);
        li {
          font-size: pr(26px);
          line-height: pr(36px);
          margin-bottom: pr(20px);
          &::before {
            float: none;
            margin-top: 0;
          }
          span {
            width: auto;
          }
        }
      }
      .fifteen-btn {
        display: block;
        width: pr(240px);
        text-align: center;
        position: static;
        height: pr(56px);
        line-height: pr(56px);
        border-radius: pr(28px);
        font-size: pr(28px);
      }
      &:nth-of-type(1) {
        margin-top: 0;
        .item-detail {
          height: auto;
        }
      }
      &:nth-of-type(2) {
        margin-top: 0;
        .item-title {
          background: url(../images/stage_2-wap.png) no-repeat;
          background-size: 100% auto;
        }
        .item-detail {
          height: auto;
        }
      }
      &:nth-of-type(3) {
        margin-top: 0;
        .item-title {
          background: url(../images/stage_3-wap.png) no-repeat;
          background-size: 100% auto;
        }
        .item-detail {
          height: auto;
        }
      }
      &:nth-of-type(4) {
        .item-title {
          background: url(../images/stage_4-wap.png) no-repeat;
          background-size: 100% auto;
        }
        .item-detail {
          height: auto;
        }
      }
    }
  }
  .fifteen-sort {
    padding: pr(20px) pr(24px);
    li {
      width: pr(210px);
      box-shadow: 0px 0px pr(18px) 0px rgba(121, 95, 227, 0.28);
      border-radius: pr(12px);
      margin-right: pr(36px);
      margin-bottom: pr(50px);
      .sort-num {
        width: pr(42px);
        height: pr(42px);
        line-height: pr(42px);
        box-shadow: 0px pr(3px) pr(6px) 0px rgba(116, 90, 224, 0.36);
        font-size: pr(30px);
        top: pr(-21px);
      }
      .sort-txt {
        font-size: pr(26px);
        line-height: pr(36px);
        padding: pr(46px) pr(20px) pr(20px);
      }
      &:nth-of-type(4n + 4) {
        margin-right: pr(36px);
      }
      &:nth-of-type(3n + 3) {
        margin-right: 0;
      }
    }
  }
  .fifteen-opt {
    padding: 0 pr(24px);
    .opt-item {
      width: 100%;
      padding: pr(30px) pr(20px);
      margin-right: 0;
      margin-bottom: pr(20px);
    }
    .item-l {
      width: pr(170px);
      margin-right: pr(20px);
    }
    .item-r {
      font-size: pr(24px);
      line-height: pr(42px);
      li {
        width: pr(440px);
      }
    }
  }
  .fifteen-intro {
    margin: 0 pr(24px);
    padding: pr(30px) 0;
    background-size: pr(610px) auto;
    .intro-l {
      width: pr(200px);
      font-size: pr(26px);
      line-height: pr(34px);
      img {
        width: pr(102px);
      }
    }
    .intro-r {
      width: pr(500px);
      padding: pr(20px) pr(30px) pr(30px);
      box-shadow: 0px pr(17px) pr(18px) 0px rgba(145, 145, 145, 0.17);
      ul {
        margin-bottom: pr(20px);
      }
      li {
        font-size: pr(24px);
        line-height: pr(42px);
      }
      .fifteen-btn {
        width: pr(236px);
        height: pr(56px);
        line-height: pr(56px);
        border-radius: pr(28px);
      }
    }
  }
  .fifteen-job {
    margin-bottom: pr(30px);
    padding: 0 pr(24px);
    .job-cont {
      width: pr(546px);
      box-shadow: pr(30px) pr(23px) pr(18px) 0px rgba(145, 145, 145, 0.17);
      border-radius: pr(12px);
      padding: pr(20px) 0;
      .cont-title {
        font-size: pr(28px);
        line-height: pr(30px);
        &::before {
          width: pr(3px);
          height: pr(30px);
          margin-right: pr(28px);
        }
      }
      ul {
        padding: pr(10px) pr(150px) pr(20px) pr(30px);
      }
      li {
        font-size: pr(24px);
        line-height: pr(30px);
        padding-left: pr(24px);
        margin-bottom: pr(10px);
        background-size: pr(10px) pr(10px);
      }
      .fifteen-btn {
        width: pr(166px);
        border-radius: 0px pr(21px) pr(21px) 0px;
      }
    }
    .job-bg {
      width: pr(306px);
      height: pr(260px);
      line-height: pr(260px);
      right: pr(24px);
    }
  }
  .fifteen-devote {
    padding: pr(30px) pr(24px);
    .devote-l {
      font-size: pr(24px);
      line-height: pr(42px);
      box-shadow: pr(3px) pr(16px) pr(18px) 0px rgba(145, 145, 145, 0.17);
      border-radius: pr(12px) pr(12px) pr(30px) pr(12px);
      padding: pr(30px) 0 pr(20px) pr(30px);
      ul {
        width: pr(320px);
        margin-right: pr(10px);
      }
      .l-title {
        font-size: pr(26px);
        line-height: pr(30px);
        padding-left: pr(37px);
        background-size: pr(16px) auto;
        margin-bottom: pr(20px);
      }
    }
    .devote-r {
      width: 100%;
      background: url(../images/bg_7-wap.png) no-repeat;
      background-size: 100% 100%;
      padding: pr(20px) pr(20px) pr(20px);
      .r-title {
        font-size: pr(36px);
        line-height: pr(36px);
        margin-bottom: pr(20px);
      }
      .sign-in {
        padding: pr(20px) pr(20px) 0;
        border-radius: pr(12px);
        input {
          width: 100%;
          height: pr(56px);
          line-height: pr(56px);
          font-size: pr(26px);
          text-indent: 1em;
          color: #888888;
          font-family: "微软雅黑";
          margin-bottom: pr(20px);
        }
        input[type="submit"] {
          border: none;
          font-size: pr(28px);
          border-radius: pr(28px);
        }
      }
    }
  }
  .fifteen-process {
    margin: pr(30px) pr(24px);
    padding-top: pr(140px);
    background: url(../images/bg_8-wap.png) no-repeat top;
    background-size: 100% auto;
    ul {
      &::before,
      &::after {
        display: none;
      }
      width: 100%;
      margin-left: 0;
      display: flex;
      justify-content: space-between;
    }
    li {
      margin-right: 0;
      a {
        width: pr(100px);
        height: pr(40px);
        line-height: pr(40px);
        box-shadow: 0px pr(3px) pr(6px) 0px rgba(116, 90, 224, 0.36);
        border-radius: pr(20px);
        font-size: pr(16px);
      }
      &:nth-of-type(2) {
        margin-right: 0;
      }
      &:nth-of-type(3) {
        margin-right: 0;
      }
      &:nth-of-type(4) {
        margin-right: 0;
      }
    }
  }
  .fifteen-cooperate {
    margin: 0 pr(24px);
    padding: pr(30px) 0 0 pr(20px);
    li {
      width: pr(320px);
      font-size: pr(24px);
      line-height: pr(36px);
      margin-right: pr(20px);
      margin-bottom: pr(20px);
      img {
        height: pr(190px);
        margin-bottom: pr(15px);
      }
      .cooperate-title {
        font-size: pr(28px);
        line-height: pr(28px);
      }
    }
  }
}
